

@media screen and (min-width:876px){


.navbar, .header {
  height: 100px;
  background-color: white;
  display: flex;
}
.cp_link {
	padding: 0.1em 0.3em;
	position: relative;
	display: inline-block;
	transition: .3s;
	color: #63513b;
}
.cp_link::after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	width: 0;
	height: 2px;
	background-color: #63513b;
	transition: .3s;
}
.cp_link:hover::after {
	width: 100%;
}

.icon {
	display: none;
}

  .tel-logo {
  width: 30px;
  height: 30px;
  margin-top: 30px;
  margin-left: 15%;
  display: none;
}

  .top-logo img {
    padding-top: 10px;
    width: auto;
    height: 80%;
    margin-left: 50px;

}

h2 {
	font-size: 36px;
	color: #2b2b2b;
}

	.nav_btn {
		display: none;
	}

	.navbar-contents {
		display: flex;
	}

	.navbar-contents li {
		margin: 10% 22%;
	}

	.navbar-contents a {
	  font-family: "Crimson Text", serif;
	  text-decoration: none;
	  color: #2b2b2b;
	  font-size: 14px;
	}
	.top-image {
		display: none;
	}

	.top-image-pc {
		background-image: url(images/top9.jpg);
		background-size: cover;
		width: auto;
		height: 680px;
	}

	.btn-flat-simple {
	  width: 30%;
	  text-align: center;
	  display: inline-block;
	  font-weight: bold;
	  margin-top: 50px;
	  margin-left: 35%;
	  padding: 0.5em 0.5em;
	  text-decoration: none;
	  color: #ffffff;
	  background: #63513b;
	  transition: .4s;
	}

	.btn-flat-simple:hover {
      background: #fff;
      color: #63513b;
    }

    .concept {
    	width: auto;
    	height: 500px;
    }

    .concept-head {
    	display: none;
    }


    .concept-left {
    	float: left;

    }

.concept-left img {
    	width: 500px;
    	height: 300px;
    	margin-left: 180px;
    	margin-top: 100px;
    }

    .concept-right {
    	float: right;
    	margin-right: 300px;
    	margin-top: 50px;
    }

    .style {
    	padding-bottom: 80px;
    }

    .style-card-wrapper {
    	display: flex;
    }

    .style-card {
    	margin: 50px 90px;
    }

    .style-card img {
    	width: 35vh;
    	height:35vh;
    	object-fit: cover;
    	padding-bottom: 20px;
    }

    .staff {
    	padding-bottom: 100px;
    }

    .staff-card-wrapper {
		display: flex;
    }


    .staff img {
      width: 70%;
      height: auto;
}

    .staff-card {
  height:28vh;
  width: 28vh;
  margin-left: 15vh;
  /*margin-right: 45px;*/
  margin-bottom: 50px;
  background-color: white;
}

.name-a {
	padding-top: 10px;
}

.staff-image {
	text-align: center;
	padding-top: 30px;
}


.product {
	background-image: url(images/product2.jpg);
	background-size: cover;
	display: flex;
	height: 671px;
	width: 100%;
	padding-top: 100px;
}

.product img {
	display: none;
}

.box3 {
    padding: 0.5em 1em;
    margin: 2em 8em;
    color: #2c2c2f;
    background: beige;/*背景色*/

}

.box3-border {
	border: solid #63513b;
	padding: 8em 8em;
}

.box h2 {
}


.box3 p {
    margin: 0;
    padding: 0;
}

/*.product-right img {
	width: 500px;
    height: 300px;
}*/

.news {
	padding-top: 80px;
	padding-bottom: 80px;
}

.news-wrapper {
	margin: 0 auto;
	width: 70%;
}

/*
.ggmap {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
text-align: center;
overflow: hidden;

}

.ggmap iframe {
position: absolute;
padding-top: 50px;
padding-left: 10%;
left: 20px;
width: 35%;
height: 50%;*/

.map{
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	width:100%;
	/*font-family: 'Montserrat', sans-serif;*/
}

.googlemap {
	width: 100%;
	height: auto;
	padding: 20px;
	margin-left: 50px;
}

.googlemap iframe {
	width: 100%;
	height: 60vh;
}


.map-content{
	width:100%;
	padding: 80px;
}




.p-text{
 position: absolute;
    bottom: 20px; /** 場合によっては微調整 **/
    right: 50px;
 color:white;
 text-align: center;
}

.p-text h2{
	letter-spacing: 3px;
	font-size:55px;
	/*font-family: 'Montserrat', sans-serif;*/
}

.p-text p{
	font-size:30px;

}


}